html {
  background-color: #1a1a1a;
  height: 100%;
  width: 100%;
}
.app-container {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button-box {
  margin: 0;
}
.button-container {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 800;
}
.link-text {
  text-decoration: none;
  color: #1a1a1a;
  padding: 10px;
}

.button1 {
  background-color: #edc79b;
  border: 2px solid white;
}

.button1:hover {
  background-color: white;
  color: #edc79b;
}

.button2 {
  background-color: #63a375;
  border: 2px solid white;
}

.button2:hover {
  background-color: white;
  color: #63a375;
}
.button3 {
  background-color: #d57a66;
  border: 2px solid white;
}

.button3:hover {
  background-color: white;
  color: #d57a66;
}

.icon {
  font-size: 40px !important;
  vertical-align: middle;
}

.welcome {
  color: white;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.sub-welcome {
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button-container {
    width: 100px;
    height: 100px;
  }
  .link-text {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .button-container {
    width: 100px;
    height: 100px;
  }
  .link-text {
    font-size: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .button-container {
    width: 150px;
    height: 150px;
  }
  .link-text {
    font-size: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .button-container {
    width: 150px;
    height: 150px;
  }
  .link-text {
    font-size: 15px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .button-container {
    width: 200px;
    height: 200px;
  }
  .link-text {
    font-size: 30px;
  }
}
