.topnav {
  overflow: hidden;
  background-color: #2b4162;
  flex-direction: row;
}

.active:hover {
  background-color: #ddd;
  color: black;
}

.active {
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.new-game {
  color: white;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.new-game:hover {
  background-color: #ddd;
  color: black;
}

.score-container {
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 25px;
  padding-top: 5px;
}

.text {
  color: white;
  float: none;
  text-align: center;
  margin-left: 10px;
  text-decoration: none;
  font-size: 25px;
  left: 50%;
}
.text-container {
  margin-top: 10px;
}
